@import url("https://fonts.googleapis.com/css?family=Krona+One");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url();

h1 {
    text-align: center;
    text-shadow: 2px 2px currentColor;
    font-family: Krona One;
    margin: 10% 0 0 0; 
    color: white;
}

.footer {
    text-align: center;
    font-family: Lobster;
    width: 450px;
    display: block;
    margin : 10%;
    color: white;

}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-weight: 400;
}

.box {
  border-radius: 3px;
  position: relative;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
.box .text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
.box .text i {
  font-size: 1.0em;
  margin-right: 0.4em;
}
.box .author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}
.box .buttons {
  width: 450px;
  margin: auto;
  display: block;
}
.box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  cursor: pointer;
}

.box .buttons .button#quote_tw, .box .buttons .button#tmblr_quote {
  float: left;
  padding: 7px;
  padding-top: 0px;
  text-align: center;
  font-size: 1.6em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}
.box .buttons .button#new_quote {
  float: right;
}
i {
    padding: 50%;
}